@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h2>Order History</h2>
<h4>@UserManager.GetUserAsync(User).Result.UserName</h4>



@model IEnumerable<Database.Models.Order>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index">Order History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Identity/Account/Manage/">Manage account</a>
    </li>
</ul>


<div class="row mt-3 pt-3 mb-3">
    <table class="table table-striped table-bordered dt-responsive display nowrap">
        <thead>
            <tr>
                <th>
                    ORDER#
                </th>
                <th>
                    ORDER DATE
                </th>
                <th>
                    ORDER STATUS
                </th>
                <th>
                    SHIPPING DATE
                </th>
                <th>
                    ORDER TOTAL
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tableSearch">
            @foreach (var order in Model)
            {

            <tr>
                <td>
                    @order.OrderId
                </td>
                <td>
                    @order.OrderDate
                </td>
                <td>
                    @if (order.OrderStatus == "Delivered")
                    {
                        <p style="color: forestgreen">@order.OrderStatus</p>
                    }
                    else if (order.OrderStatus == "Cancelled")
                    {
                        <p style="color: red">@order.OrderStatus</p>
                    }
                    else
                    {
                        <p>@order.OrderStatus</p>
                    }
                </td>
                <td>
                    @if (order.ShippingDate == DateTime.UnixEpoch)
                    {
                        <p>Not shipped</p>
                    }
                    else
                    {
                        @order.ShippingDate
                    }

                </td>
                <td>
                    @order.OrderTotal SEK
                </td>
                <td>
                    <span data-toggle="tooltip" data-placement="bottom" title="info">
                        <button type="button" onclick="GetModalInfo(@order.OrderId, 'orderDetails')" id="infoModalBtn-@order.OrderId" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter" style="background-color:transparent">
                            <i class="fas fa-info-circle"></i>
                        </button>
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<partial name="~/Views/Shared/_OrderDetailModal.cshtml" />